In [1]:
import pandas as pd
import numpy as np
import altair as alt
import eco_style
alt.themes.enable('report')

ThemeRegistry.enable('report')

In [2]:
full_df = pd.read_excel("/Users/finn/Documents/GitHub/GrowthDiagnostics/report_figures/data/raw/regionalgrossvalueaddedbalancedbyindustryandallitlregions-7.xlsx", sheet_name="Table 1c", skiprows=1)

In [23]:
df = full_df.copy()
df = df[~df['SIC07 code'].astype(str).str.isnumeric()]
exclude = ['A-E', 'G-T']
df = df[~df['SIC07 code'].str.contains('|'.join(exclude))]
# ITL code	Region name	SIC07 code	SIC07 description
df = df[['ITL code', 'Region name', 'SIC07 code', 'SIC07 description', '2022']]
# lose everything in brackets from the SIC07 code code
df['SIC07 code'] = df['SIC07 code'].str.replace(r"\(.*\)", "")

codes = [
    "A (1-3)",
    "B (5-9)",
    "C (10-33)",
    "D (35)",
    "E (36-39)",
    "F (41-43)",
    "G (45-47)",
    "H (49-53)",
    "I (55-56)",
    "J (58-63)",
    "K (64-66)",
    "L (68)",
    "M (69-75)",
    "N (77-82)",
    "O (84)",
    "P (85)",
    "Q (86-88)",
    "R (90-93)",
    "S (94-96)",
    "T (97-98)"
]

df = df[df['SIC07 code'].isin(codes)]

regions = ['North East', 'North West',
       'Yorkshire and The Humber', 'East Midlands', 'West Midlands',
       'East', 'London', 'South East', 'South West', 'Wales', 'Scotland',
       'Northern Ireland'] #['United Kingdom'

df = df[df['Region name'].isin(regions)]

In [26]:


chart = alt.Chart(df.query("`SIC07 code` == 'A (1-3)'")).mark_bar().encode(
    y=alt.Y('Region name', title='', sort="-x"),
    x=alt.X('2022', title='GVA (£m)'),
).properties(
    title='Agriculture, Forestry and Fishing (1-3)'
)

chart

/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.Chart(...)

In [17]:
df

,ITL code,Region name,SIC07 code,SIC07 description,2022
2,UK,United Kingdom,A (1-3),"Agriculture, forestry and fishing",19153
6,UK,United Kingdom,B (5-9),Mining and quarrying,19052
9,UK,United Kingdom,C (10-33),Manufacturing,210382
39,UK,United Kingdom,D (35),"Electricity, gas, steam and air conditioning s...",21742
40,UK,United Kingdom,E (36-39),Water supply; sewerage and waste management,27820
...,...,...,...,...,...
1483,TLN,Northern Ireland,P (85),Education,2704
1484,TLN,Northern Ireland,Q (86-88),Human health and social work activities,5670
1488,TLN,Northern Ireland,R (90-93),"Arts, entertainment and recreation",499
1493,TLN,Northern Ireland,S (94-96),Other service activities,722
1497,TLN,Northern Ireland,T (97-98),Activities of households,52

In [8]:

df = df.pivot_table(index=['ITL code', 'Region name'], columns='SIC07 description', values='2022', aggfunc='sum').reset_index()
df

SIC07 description,ITL code,Region name,Accommodation and food service activities,Activities of households,Administrative and support service activities,"Agriculture, forestry and fishing","Arts, entertainment and recreation",Construction,Education,"Electricity, gas, steam and air conditioning supply",...,Information and communication,Manufacturing,Mining and quarrying,Other service activities,"Professional, scientific and technical activities",Public administration and defence,Real estate activities,Transportation and storage,Water supply; sewerage and waste management,Wholesale and retail trade; repair of motor vehicles
0,TLB,England,60892,2686,102136,13539,27512,120684,115914,16079,...,136202,176148,2784,33700,168481,92904,248169,69502,23041,204611
1,TLC,North East,2033,87,2625,540,714,3964,4588,641,...,3195,9399,153,1108,2969,4373,7627,2152,937,5954
2,TLD,North West,7313,236,11320,1164,2892,13744,13621,1697,...,9639,29494,220,3524,16875,10934,24788,8341,2707,26685
3,TLE,Yorkshire and The Humber,4735,127,7128,1553,1548,9640,11281,1876,...,6246,22142,154,2456,8550,8063,17124,5844,2026,16701
4,TLF,East Midlands,3714,199,6138,2058,1652,9473,8902,1346,...,4786,20453,535,2319,7785,5929,14583,6030,1605,15784
5,TLG,West Midlands,4324,111,8196,1583,1929,10186,11230,1426,...,6706,20996,99,3421,9463,7882,19089,6984,2814,19913
6,TLH,East,5814,328,11081,2330,2193,16730,11393,1050,...,8388,19693,148,3432,13909,8046,26253,7899,2736,24240
7,TLI,London,15445,636,28644,60,10034,21856,22430,2926,...,61067,10141,356,7719,67350,20693,66346,15394,1946,38781
8,TLJ,South East,10615,635,17645,1695,4748,23182,21572,3639,...,29131,26079,410,6556,29758,15352,47198,12059,5600,38947
9,TLK,South West,6899,328,9359,2555,1802,11909,10899,1478,...,7045,17752,710,3165,11821,11634,25162,4799,2671,17607
10,TLL,Wales,2767,63,2366,1194,919,4746,4715,1041,...,2140,11452,216,1204,3045,6501,8333,2172,1375,7470
11,TLM,Scotland,5602,123,7161,3248,2089,9586,10880,3966,...,6636,16859,1607,2518,10707,11844,18503,5549,2765,14889
12,TLN,Northern Ireland,1367,52,1619,1172,499,4067,2704,656,...,1603,5922,167,722,2363,3594,5499,1718,640,7293
13,TLZ,Extra-Regio,0,0,0,0,0,0,0,0,...,0,0,14278,0,0,1342,0,0,0,0
14,UK,United Kingdom,70628,2924,113283,19153,31019,139083,134213,21742,...,146581,210382,19052,38144,184595,116185,280504,78940,27820,234263
15,UKX,United Kingdom less Extra-Regio,70628,2924,113283,19153,31019,139083,134213,21742,...,146581,210382,4774,38144,184595,114843,280504,78940,27820,234263

In [11]:
df.region_name.unique()

AttributeError: 'DataFrame' object has no attribute 'region_name'

In [4]:
df.columns

Index(['ITL code', 'Region name', 'SIC07 code', 'SIC07 description', '2022'], dtype='object')

In [13]:
df['Region name'].unique()

array(['United Kingdom', 'England', 'North East', 'North West',
       'Yorkshire and The Humber', 'East Midlands', 'West Midlands',
       'East', 'London', 'South East', 'South West', 'Wales', 'Scotland',
       'Northern Ireland', 'Extra-Regio',
       'United Kingdom less Extra-Regio'], dtype=object)